.button{
    height: 74px;
    line-height: 80px;
    width: 71px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 61%;
    color: white;
    text-align: center;
    cursor: pointer;
    background: #8490FF;


}

.operator{
    background: #34509E;
    color: #fff;
}

.number{
    background: #212638;
}

.fuction{
    background-color: #8490FF;
  
}
.zero {
    width: 164px;
    border-radius: 80px;
    min-height: 48px;}


