.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 375px;
  height: 812px;
  
  background: #FFFFFF;
  margin-top: 100px;

}

.cala-wrapper{
  width: 400px;
  height: 600px;

}
.row{
  display: flex;
  width:100%;
  justify-content: space-around;
  margin-bottom: 10px;
}
.display{
  height: 100px;
}

.display:nth-child(1) {
  font-size: 54px;
}

div.button.function{
  color:#000;
}